asgiref==3.6.0
blinker==1.5
brotli==1.0.9
cchardet==2.1.7
colorama==0.4.3
cryptography==2.8
Cython==0.29.33
dl==0.1.0
docutils==0.19
html5lib==1.1
ipaddr==2.2.0
jnius==1.1.0
keyring==18.0.1
lxml==4.9.2
mypy_extensions==1.0.0
numpy==1.24.2
ordereddict==1.1
protobuf==4.22.1
pyOpenSSL==23.0.0
python-dotenv==1.0.0
python_whois==0.8.0
simplejson==3.18.4
trove_classifiers==2023.3.9
watchdog==2.3.1
whois==0.9.27
wincertstore==0.2.1
