body {
    background-color: #0D0D0D;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* min-height: 100vh; */
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #7653ff;
    /* text-transform: uppercase; */
}

.logo {
    text-decoration: none;
    color: inherit;
}

.short-note {
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0 15px 0;
}

.result {
    text-decoration: none;
    max-width: 100%;
    color: inherit;
    text-align: left;
    margin: 0 auto;
    margin-left: 20px;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
    word-wrap: break-word;
}

.result>* {
    word-wrap: break-word;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.preview-form {
    padding-bottom: 0;
}

.source-code-form {
    padding-bottom: 0;
}

input[type="text"] {
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #1D1D1D;
    color: #fff;
    width: 80%;
    margin-bottom: 1rem;
}

button[type="submit"] {
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    background-color: #6e49ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #623df9;
}

.preview-button {
    border: none;
    border-radius: 0.5rem;
    padding: 10px;
    font-size: 1rem;
    background-color: #4350da;
    color: #fff;
    cursor: pointer;
    width: 290px;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: background-color 0.2s ease;
}

.preview-button:hover {
    background-color: #623df9;
}

table {
    /* width: 50% !important; */
    table-layout: fixed;
}

th,
td {
    max-width: 38vw;
    padding: 5px;
    word-wrap: break-word;
}

output {
    display: block;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* min-height: 100vh; */
    height: auto;
    padding-top: 10%;
    padding-bottom: 4rem;
}

.app-footer {
    background-color: #1D1D1D;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    z-index: 9999;
    width: 100%;
    height: 4rem;
}

.app-footer a {
    color: #7653ff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.app-footer a:hover {
    color: #6e49ff;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#preview-container {
    border: 5px solid red;
    margin: 0px;
    margin-top: 5rem;
    margin-bottom: 5px;
    padding: 0;
}

#warning-message {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    margin-bottom: 1rem;
    color: #fff;
    padding: 5px;
    background-color: #1D1D1D;
}

@media only screen and (min-width: 600px) {
    input[type="text"] {
        width: 60%;
    }
    .result {
        max-width: 100%;
        padding: 10px;
        margin-left: 30%;
        box-sizing: border-box;
    }
    .result>* {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    th,
    td {
        max-width: 20vw;
        padding: 5px;
        word-wrap: break-word;
    }
    table {
        width: 50%;
    }
}


/* Loading Spinner */

.spinner {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #333;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}