<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <title>SafeSurf by abhizaik</title>
    <meta name="description" content="SafeSurf is a phishing domain detection tool created by abhizaik. This allows you to safely view the website without visiting it.">
    <meta name="og:title" property="og:title" content="SafeSurf by abhizaik">
    <meta name="keywords" content="SafeSurf, phishing, abhizaik">
    <meta name="author" content="Abhishek K P">
    <meta name="robots" content="index, follow">


    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>

<body>

    {% block content %}{% endblock %} {% if '/preview' not in request.path %}
    <div class="app-footer">
        <a href="https://github.com/abhizaik/SafeSurf" target="_blank" rel="noopener"><strong>GitHub</strong></a>
        <span> &nbsp;👀&nbsp; </span> Created by&nbsp;
        <a href="https://abhishekkp.com/" target="_blank" rel="noopener"> <strong>abhizaik</strong></a>
    </div>
    {% endif %}

</body>

</html>
