{% extends "base.html" %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>SafeSurf</title>
</head>

<body>
    {% block content %}

    <div class="container">

        <a href="/" class="logo">
            <h1>SafeSurf</h1>
        </a>

        <div class="short-note">
            <p>Protect yourself from <strong>phishing attacks</strong> with the help of <strong>FOSS</strong>. Surf safe with <strong>SafeSurf</strong>!</p>
        </div>

        <form action="/" method="post">
            <input type="text" name="url" placeholder="URL" required="required" />
            <button type="submit" class="btn">CHECK URL</button>
        </form>

        {% if output != "NA" %}
        <div class="result">

            {% if output.status == "SUCCESS" %} 

<a href="{{ url_for('preview', url=output.encoded_url) }}" target="_blank" rel="noopener noreferrer"><button class = "preview-button">Safely view this URL within SafeSurf</button></a> <br> <br> 
URL : {{output.url}} <br> 
Trust Score : {{output.trust_score}} / 100 <br><br>

Info for Nerds <br><br>
<table>
    <thead>
        <tr>
            <th>Propery</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Global Rank</td>
            <td>{{output.rank}}</td>
        </tr>

        <tr>
            <td>Domain Age</td>
            <td>{{output.age}}</td>
        </tr>

        <tr>
            <td>Use of URL Shortener</td>
            <td>{% if output.is_url_shortened == 1%} YES {% else %} NO {% endif %}</td>
        </tr>

        <tr>
            <td>HSTS Support</td>
            <td>{% if output.hsts_support == 1%} YES {% else %} NO {% endif %}</td>
        </tr>

        <tr>
            <td>IP instead of Domain</td>
            <td>{% if output.ip_present == 1%} YES {% else %} NO {% endif %}</td>
        </tr>

        <tr>
            <td>URL Redirects</td>
            <td>{% if output.url_redirects == 0%} NO {% else %} URL redirects to
                {% for value in output.url_redirects %} {{ value }} &nbsp;{% endfor %} {% endif %}</td>
        </tr>

        <tr>
            <td>Too Long URL</td>
            <td>{% if output.too_long_url == 1%} YES {% else %} NO {% endif %}</td>
        </tr>

        <tr>
            <td>Too Deep URL</td>
            <td>{% if output.too_deep_url == 1%} YES {% else %} NO {% endif %}</td>
        </tr>
 
</tbody>
</table>
 
 {% else %} 
 URL : {{output.url}} <br> 
 Message : {{output.msg}} <br> 
 {% endif %}

        </div>
        {% endif %} {% endblock %}

        <div class="output">
            {{output}}
        </div>

        <div class="footer">
            <a href="https://github.com/incogGod/phishing-domain-detection"><strong>GitHub</strong></a>
            <span> &nbsp;|&nbsp; </span> Brought to you by&nbsp;
            <a href="https://incoggod.com/"> <strong>incogGod</strong></a>
        </div>

    </div>

</body>

</html>
